* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	background-color: #282c34;
	color: #fff;
}

.App {
	min-height: 100vh;
	font-family: "Roboto", sans-serif;

	.headingH2 {
		@include headingH2();
	}
}
