* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
}

body {
	background-color: #282c34;
	color: #fff;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;

	.headingH2 {
		@include headingH2();
	}

	.page {
		min-height: 80vh;
	}
}
