.App__bannerTop {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: #000;

	@media (max-width: 770px) {
		background-color: transparent;
	}

	.App__bannerTop__btn {
		@include link();
		display: block;
		margin-right: 10px;
		align-self: center;
		color: #fff;
		font-size: 1.2rem;
	}
}
