.registerPage__form-label,
.loginPage__form-label {
	position: relative;

	.registerPage__form-label__eye-wrapper {
		@include eyePassword();

		.registerPage__form-label__eye-icon {
			display: block;
			width: 100%;
		}
	}
}
