.loginPage {
	@include contentCenter();
	justify-content: flex-start;
	width: 50%;
	position: relative;

	@media (max-width: map-get($breakpoints, m)) {
		width: 90%;
	}

	.loginPage__heading-h2 {
		@include headingH2();
	}

	.loginPage__form,
	.loginPage__log-info {
		@include contentCenter();
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media (max-width: map-get($breakpoints, m)) {
			top: 40%;
			width: 80%;
		}

		.loginPage__form-label {
			margin: 5px 0;
			font-size: 1.2rem;
			font-weight: 300;

			.loginPage__form-input {
				@include input();
			}
		}

		.btn {
			@include btn();
			width: 100%;
			margin-top: 10px;
		}

		.loginPage__registerText {
			@include text();
			margin-top: 10px;

			.loginPage__registerText-linkToRegister {
				@include link();
				color: #ffa500;
			}
		}
		.loginPage__log-info-text {
			margin-bottom: 20px;
			text-align: center;
			font-size: 2rem;
		}

		.loginPage__link__linkHomePage {
			@include link();
			color: white;

			&:hover {
				color: #ffa500;
			}
		}
		.loginPage__log-info__btn {
			font-size: 1.6rem;
		}

		.loginPage__added-success-text {
			@include text();
			margin-top: 10px;
			color: #22c722;
			text-align: center;
		}
	}
}
