@mixin contentCenter() {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin headingH2() {
	width: 100%;
	margin: 10px 0;
	font-size: 4rem;
	letter-spacing: 2px;
	font-weight: 700;
	text-align: center;

	@media (max-width: map-get($breakpoints, m)) {
		font-size: 3rem;
	}
}

@mixin headingH3() {
	@include headingH2();
	font-size: 3rem;
}

@mixin text() {
	font-size: 1.6rem;
	font-family: "Open sans", sans-serif;
}

@mixin btn() {
	width: 150px;
	padding: 10px 20px;
	font-size: 2rem;
	background-color: #353a45;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	border: 1px solid orange;
	letter-spacing: 1px;
	cursor: pointer;

	&:hover {
		color: #ffa500;
	}
}

@mixin link() {
	text-decoration: none;
}

@mixin input() {
	width: 250px;
	padding: 7px 15px;
	font-size: 1.4rem;
	border-radius: 3px;
	letter-spacing: 1px;
}

@mixin widthContent() {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;

	@media (max-width: map-get($breakpoints, m)) {
		width: 90%;
	}
}
